<h1>Vms#new</h1>
<p>Find me in app/views/vms/new.html.erb</p>


<%= form_for @vm do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= @vm.errors.messages[:title][0] %>  
<br> 

  <%= f.label :ip %>                                                                                                                                                                     
  <%= f.text_field :ip %> <br>
  <%= @vm.errors.messages[:ip][0] %>  
<br>
  <%= f.label :users %>
  <%= f.text_field :users %><br>
<%= @vm.errors.messages[:users][0] %>  
<br>
  <%= f.submit %>
<% end %>



















