<h1>Vms#new</h1>

<p>Find me in app/views/vms/show.html.erb</p>

<ul>

<li>
ID  <%= @vm.id %>
</li>

<li>
名前  <%= @vm.title %><br>
</li>

<li>
IP  <%= @vm.ip %>
</li>

<li>
利用者  <%= @vm.users %>
</li>

<li>
備考 <%= @vm.memo %>
</li>

</ul>




