<!DOCTYPE html>
<html>
<head>
  <title>Vmmanage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>

 <div class="container" style="padding:20px 0">

<%= yield %>


<hr>

<%= link_to "HOME" , vms_path %>

</div>

</body>
</html>
